/* side bar css */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
}

.sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.logo {
    font-size: 25px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon,
.link_text {
    font-size: 20px;
}


